* {
  font-family: sans-serif;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  background-color: #4D0036;
  color: #fdfff5;
  padding: 10px;
}

input {
  margin: 5px;
}

button {
  background-color: #949bc4;
  padding: 5px;
  color: #fdfff5;
  font-weight: 700;
  border-radius: 5px;
}