    .baslik{
        margin: auto; 
        text-align: center; 
        font-size: 20px;
    }
    .altbaslik{
        margin: auto; 
        text-align: center; 
        color: #005cab; 
        font-size: 14px;
    }
    table{
        border-collapse: collapse; 
        margin: auto; 
        font-size: 0.9em; 
        overflow: hidden; 
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px; 
        height: 314px; 
        width: 50%;
    }
    .taksitSayisi
    {
        background-color: #005cab; 
        color: #ffffff; 
        text-align: left; 
        font-weight: bold;
    }
    .taksitEkrani{
        padding: 12px 15px; 
        text-align: center;
    }
    .bankaBeyaz{
        border: 1px solid black; 
        padding: 12px 15px;
        text-align: center;
    }
    .bankaGri{
        border: 1px solid black; 
        background-color: #f3f3f3; 
        padding: 12px 15px; 
        text-align: center;