* {
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
  color: red;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.5;
}
p {
  font-size: 1.2em;
}
.centerDiv {
  max-width: 90%;
  margin: 0 auto;
}
.mycontainer {
  max-width: 800px;
}
label {
  font-weight: bold;
}

textarea,
input,
select {
  margin: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: solid 1px #bbbbbb;
  border-radius: 8px;
}

/* Create 2 equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

button {
  width: 200px;
  padding: 15px 10px;
  margin: 10px;
  background-color: Blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

#successMessage {
  color: Blue;
  margin-top: 10px;
}
#update{
  color:#666666;
  font-size:0.9em;
  
}
#errorMessage {
  color: red;
  margin-top: 10px;
}
