body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: teal;
  color: white;
  overflow-y: scroll;
}

.search-box {
  padding: 10px;
  height: 30px;
  border-radius: 10px;
  font-size: 2em;
  border: solid 3px orange;
  color: slategrey;
}

.search-results {
  margin: 10px auto;
  background-color: white;
  color: slategrey;
  text-align: left;
  padding: 10px;
  width: 70%
}

.search-results:hover {
  box-shadow: -5px 0px 0px 0px orange;
}

button {
  background-color: white;
  border: none;
  color: slategrey;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  color: orange;
}

.reset {
  position: absolute;
  color: white;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
}